div.container-fluid.bg-dark.text-light.footer.wow.fadeIn(data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;")
  div.container.pt-5.px-lg-5
      div.row(style="justify-content: space-between;")
          div.col-md-6.col-lg-3.imgf
              img(src="../img/Logo.png" alt="Logo")
              div.d-flex.pt-2
                  a.btn.btn-outline-light.btn-social(href="")
                      i.fab.fa-twitter
                  a.btn.btn-outline-light.btn-social(href="")
                      i.fab.fa-facebook-f
                  a.btn.btn-outline-light.btn-social(href="")
                      i.fab.fa-youtube
                  a.btn.btn-outline-light.btn-social(href="")
                      i.fab.fa-instagram
                  a.btn.btn-outline-light.btn-social(href="")
                      i.fab.fa-linkedin-in

          div.col-md-6.col-lg-3
              h5.text-white.mb-4 Popular Link
              a.btn.btn-link(href="about") About Us
              a.btn.btn-link(href="contact") Contact Us
              a.btn.btn-link(href="celebrity-endorsement") Celebrity Endorsement
              a.btn.btn-link(href="technology.html") Technology
              a.btn.btn-link(href="/") Blogs

          div.col-md-6.col-lg-3
              h5.text-white.mb-4 Our Services
              a.btn.btn-link(href="socialmedia.html") Social Media Marketing
              a.btn.btn-link(href="websitedevelopment.html") Website Development
              a.btn.btn-link(href="qualityverified.html") Verified Quality Buyers Generation
              a.btn.btn-link(href="ppc.html") PPC
              a.btn.btn-link(href="360digital.html") 360° Degree Branding
              a.btn.btn-link(href="leadgeneration.html") Lead Generation

          div.col-md-6.col-lg-3.addc
              h5.text-white.mb-4 Contact Us
              p
                  i.fa.fa-map-marker-alt.me-3
                  | Head Office:- B 14 & 15 Sector-1, Noida U.P. 201301
              p
                  i.fa.fa-map-marker-alt.me-3
                  | Branch Office:- 701 Sahil Faraz CHS Ltd, Puja Nagar Road Mira Road, East Mumbai 401107, Maharashtra
              p
                  i.fa.fa-phone-alt.me-3
                  a(href="tel:+91-9958575960") +91-9958575960
              p
                  i.fa.fa-envelope.me-3
                  a(href="mailto:info@zolexomart.in") info@zolexomart.in

      div.container.px-lg-5
          div.copyright
              div.row
                  div.col-md-6.text-center.text-md-start.mb-3.mb-md-0
                      | ©
                      a.border-bottom(href="#") All Right Reserved.
                      | Designed By
                      a.border-bottom(href="/") Zolexo Mart Pvt Ltd
