.tophead
                .nolist
                    ul
                        li
                            a(href="tel:+91-9958575960")
                                i.fa.fa-phone-square(aria-hidden="true")
                                | +91-9958575960
                        li
                            a(href="mailto:info@zolexomart.in")
                                i.fa.fa-envelope(aria-hidden="true")
                                | info@zolexomart.in

                .foot-socials.headicon
                    ul
                        li
                            a(href="https://www.facebook.com/ZolexoMart/" target="_blank")
                                i.fa-brands.fa-facebook
                        li
                            a(href="http://www.linkedin.com/in/zolexomart-pvt-ltd-a7b613328" target="_blank")
                                i.fa-brands.fa-linkedin
                        li
                            a(href="/" target="_blank")
                                i.fa-brands.fa-google-plus
                        li
                            a(href="https://www.youtube.com/@ZolexoMart" target="_blank")
                                i.fa-brands.fa-youtube
                        li
                            a(href="/" target="_blank")
                                i.fa-brands.fa-instagram

div.container-fluid.position-relative.p-0
    nav.navbar.navbar-expand-lg.navbar-light.px-4.px-lg-5.py-3.py-lg-0
        a(href="/" class="navbar-brand p-0")
            img(src="../img/Logo.png" alt="Logo")
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse")
            span.fa.fa-bars
        div.collapse.navbar-collapse(id="navbarCollapse")
            div.navbar-nav.ms-auto.py-0
                a(href="/" class="nav-item nav-link active") Home
                a(href="/about" class="nav-item nav-link") About
                div.nav-item.dropdown.mainnav
                    a(href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false") Services
                        svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                            path(fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z")
                    div.dropdown-menu.m-0
                        each service in Services
                            a(href=`/service/${service.id}` class="dropdown-item")
                                span.menuInfo
                                    span.menuTitle #{service.serviceName}
                
                a(href="/celebrity-endorsement" class="nav-item nav-link") Celebrity Endorsement
                a(href="/blogs" class="nav-item nav-link") Blogs
                a(href="/contact" class="nav-item nav-link") Contact

        script.
            $(document).ready(function() {
                $('.navbar-toggler').on('click', function() {
                    $('.navbar-collapse').toggle('show');
                });

                $('.dropdown-toggle').on('click', function() {
                    $('.dropdown-menu').toggle('show');
                });
            });