doctype html
html(lang="en")
    head
        meta(charset="utf-8")

        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title small-business-websites | Digital Marketing Services | Zolexo Mart Pvt. Ltd. | Contact Us: 9958575960

        meta(name="Description" content="Contact Us Zolexo Mart for assistance with orders, products, or inquiries. Our team is ready to help you. Reach out today!")
        meta(name="Keywords" content="Digital Marketing Services, SEO Services, SMM Services, Web Development Services, Website Optimization Services in India.")
        meta(name="robots" content="Index, follow")
        link(rel="canonical" href="https://www.zolexomart.in/contact")

        meta(property="og:locale" content="en_IN")
        meta(property="og:type" content="Website")
        meta(property="og:title" content="Contact US | Digital Marketing Services | Zolexo Mart Pvt. Ltd. | Contact Us: 9958575960")
        meta(property="og:description" content="Contact Us Zolexo Mart for assistance with orders, products, or inquiries. Our team is ready to help you. Reach out today!")
        meta(property="og:site_name" content="Zolexo Mart Pvt. Ltd.")
        meta(property="og:url" content="https://www.zolexomart.in/contact")

        link(href="/img/Logo.jpg" rel="icon")

        // Carousel CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")

        // Google Web Fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")

        // Fontawesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet")

        // Libraries Stylesheet
        link(href="/lib/animate/animate.min.css" rel="stylesheet")
        link(href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet")
        link(href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet")

        // Customized Bootstrap Stylesheet
        link(href="/css/bootstrap.min.css" rel="stylesheet")

        // Template Stylesheet
        link(href="/css/style.css" rel="stylesheet")

        // Font style
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet")

        // jQuery
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")

        // Typed.js Script
        script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous")

    body
        // Start of Tawk.to Script
        script(type="text/javascript"). 
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/66e3ba6e50c10f7a00a93578/1i7kp0gnm';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        // End of Tawk.to Script

        #customerQuery_btn_right
            a.modal-body.querypop-page-start.getfq(href="contact")
                span.pulse-button 
                    img(src="/img/icons/contact-us.png" )

        .whatsaap
            a(href="https://wa.me/9958575960")
                img(src="/img/whatsapp.png" alt="WhatsApp")

        .container-xxl.bg-white.p-0




        div.container-xxl.position-relative.p-0
            include ./components/nav.pug
        //- .hero-header.bg
        //-     h1.text-white.animated.zoomIn Contact Us
        //-     img(src="./img/2149288184.jpg" alt="" width="100%")
        .container-fluid.py-5
            .containerl.px-lg-5
                .row
                    .box.my-5
                        h1.text-center Domestic SEO Plan
                        p.text-center IMPROVE YOUR ENGAGEMENT
                    .tableres
                        table
                            thead
                                tr
                                    th.feature Features
                                    th.star Star
                                    th.silver Silver
                                   
                            tbody
                                tr.seobg
                                    td Keywords Plan
                                    td Customized as Per Customer Requirement(Keyword Must be 5 )
                                    td Customized as Per Customer Requirement(Keyword Must be 30 )
                                   
                                
                                tr
                                    td.tablebg(colspan="3") Initial Review & Analysis
                                tr
                                    
                                    td In-Depth Site Analysis
                                    td
                                        i.fa.fa-check
                                    td
                                        i.fa.fa-check
                                tr
                                    td Duplicate Content Check
                                    td
                                        i.fa.fa-check
                                    td
                                        i.fa.fa-check
                                tr
                                    td Backlinks Analysis
                                    td
                                        i.fa.fa-check
                                    td
                                        i.fa.fa-check
                                tr
                                    td Competition Analysis
                                    td
                                        i.fa.fa-check
                                    td
                                        i.fa.fa-check
                                tr
                                    td Keyword Analysis
                                    td
                                        i.fa.fa-check
                                    td
                                        i.fa.fa-check
                                tr
                                    td Baseline Ranking Check
                                    td
                                        i.fa.fa-check
                                    td
                                        i.fa.fa-check
                                tr
                                    td Keyword URL Mapping
                                    td
                                        i.fa.fa-check
                                    td
                                        i.fa.fa-check
                                tr
                                    td Broken Links Check
                                    td
                                        i.fa.fa-check
                                    td
                                        i.fa.fa-check
                                tr
                                    td Google Penalty Check

                                    td
                                        i.fa.fa-check
                                    td
                                        i.fa.fa-check
                              
                                tr
                                    td.tablebg(colspan="3") On Page Optimization
                                tr
                                    td Canonicalization
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Header (H1) Tags Optimization
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Internal Link Structuring & Optimization
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Existing Content Optimization
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Robots.Txt Creation/Analysis
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Xml Sitemap/Analysis
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Google Console Set Up (if not set up)
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Google Analytics Set Up (if not setup)
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Desktop Page Speed Optimization*
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Fresh Web Content Suggestions (Writing charges extra)
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Title & Meta Tags Optimization
                                    td Upto 20 Pages
                                    td Upto 30 Pages
                                tr
                                    td Image & Hyperlink Optimization
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Bing Webmaster Tools Set Up (if not set up)
                                    td 
                                        i.fa.fa-times
                                    td 
                                        i.fa.fa-times
                                tr
                                    td HTML Site Map Creation
                                    td 
                                        i.fa.fa-times
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Footer Optimization
                                    td 
                                        i.fa.fa-times
                                    td 
                                        i.fa.fa-times
                                tr
                                    td Website Usability Analysis
                                    td 
                                        i.fa.fa-times
                                    td 
                                        i.fa.fa-times
                                tr
                                    td Check Header Status, Meta Robots, Google Cache of Pages
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Check Mobility Issues
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Custom 404 Page Analysis
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td URL Structure Analysis
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td No Follow on External Links
                                    td 
                                        i.fa.fa-times
                                    td 
                                        i.fa.fa-check
                                tr
                                    td.tablebg(colspan="3")    Conversion Tracking and Optimization                               
                                    
                                tr
                                    td Google Analytics Goal Conversion Setup Suggestion**
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Heatmap integration
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                               
                                tr
                                    td.tablebg(colspan="3")    Schema & Structured Data Mark Up                               
                                    
                                tr
                                    td Logo Optimization
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Schema on Contact Address
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Schema on Breadcrumb
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Schema on Images
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Schema on Blog
                                    td 
                                        i.fa.fa-times
                                    td 
                                        i.fa.fa-check
                                tr
                                    td.tablebg(colspan="3")    Local Search Optimization                              
                                    
                                tr
                                    td Google Business Profile Setup & Verification
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                //- tr
                                //-     td Bing Local Listing Setup
                                //-     td 
                                //-         i.fa.fa-times
                                //-     td 
                                //-         i.fa.fa-check
                                tr
                                    td Local Business Directory/ Citations
                                    td 7
                                    td 10
                                tr
                                    td Contact Address in Footer
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td.tablebg(colspan="3") Content Marketing 
                                    
                                tr
                                    td Website Blog Writing
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Blog Writing
                                    td 2
                                    td 3
                                //- tr
                                //-     td Classified Writing
                                //-     td 2
                                //-     td 4
                                tr
                                    td Article Writing
                                    td 2
                                    td 4
                                //- tr
                                //-     td Press Release Writing***
                                //-     td 
                                //-         i.fa.fa-times
                                //-     td 
                                //-         i.fa.fa-times
                                //- tr
                                //-     td Infographic Creation
                                //-     td 
                                //-         i.fa.fa-times
                                //-     td 
                                //-         i.fa.fa-check
                                //- tr
                                //-     td Guest Blog Writing
                                //-     td 
                                //-         i.fa.fa-check
                                //-     td 
                                //-         i.fa.fa-check
                                tr
                                    td.tablebg(colspan="3") Off Page Optimization
                                 
                                //- tr
                                //-     td Blog Submission
                                //-     td 2
                                //-     td 
                                //-         i.fa.fa-check
                                        
                                //- tr
                                //-     td Article Submission
                                //-     td 2
                                //-     td 
                                //-         i.fa.fa-check
                                        
                                //- tr
                                //-     td Blog Promotion
                                //-     td 3
                                //-     td 
                                //-         i.fa.fa-check
                                        
                                tr
                                    td Company Profile Listing
                                    td 10
                                    td 
                                        i.fa.fa-check
                                        
                                //- tr
                                //-     td Classified Submissions
                                //-     td 12
                                //-     td 
                                //-         i.fa.fa-check
                                       
                                //- tr
                                //-     td Article Promotion
                                //-     td 3
                                //-     td 
                                //-         i.fa.fa-check
                                        
                                tr
                                    td Link Syndication
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                //- tr
                                //-     td Video Promotion ****
                                //-     td 
                                //-         i.fa.fa-check
                                //-     td 
                                //-         i.fa.fa-check
                                tr
                                    td Image Submissions
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Press Release Promotion***
                                    td 
                                        i.fa.fa-times
                                    td 
                                        i.fa.fa-times
                                tr
                                    td Press Release Submission***
                                    td 
                                        i.fa.fa-times
                                    td 
                                        i.fa.fa-times
                                tr
                                    td Infographic Promotion
                                    td 
                                        i.fa.fa-times
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Infographic Distribution
                                    td 
                                        i.fa.fa-times
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Video Submission****
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Q & A Submissions
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                //- tr
                                //-     td Guest Blog Posting
                                //-     td 
                                //-         i.fa.fa-check
                                //-     td 
                                //-         i.fa.fa-check
                                //- tr
                                //-     td Guest Blog Promotion
                                //-     td 
                                //-         i.fa.fa-check
                                //-     td 
                                //-         i.fa.fa-check
                                tr
                                    td Competitor Link Analysis and Creation
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td Micro Blogging
                                    td 2
                                    td 5
                                        
                                tr
                                    td Content Syndication
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td.tablebg(colspan="3") Monthly Reporting
                                    
                                tr
                                    td Search Engine Rank Report
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td SEO Activity Reports
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check

                                tr
                                    td Google Analytics Report
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                tr
                                    td.tablebg(colspan="3") Customer Support
                                    
                                tr
                                    td Email, Chat, Phone
                                    td 
                                        i.fa.fa-check
                                    td 
                                        i.fa.fa-check
                                //- tr
                                //-     td Project Management Tool Tracking
                                //-     td 
                                //-         i.fa.fa-check
                                //-     td 
                                //-         i.fa.fa-check
                               
                                tr.btnquery
                                    td
                                    td.stara
                                        a(href="send-query") Send Query
                                    td.sila
                                        a(href="send-query") Send Query



                               
    include ./components/footer.pug

    // Scripts for Libraries
    script(src="/lib/wow/wow.min.js")
    script(src="/lib/easing/easing.min.js")
    script(src="/lib/owlcarousel/owl.carousel.min.js")
    script(src="/lib/lightbox/js/lightbox.min.js")

    // Carousel JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")

    // Template Scripts
    script(src="/js/main.js")


