doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Zolexo Mart Pvt Ltd
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Verified Quality Buyer Generation Services, Best Company in Verified Quality Buyer Generation, Dynamic Website, Customized Design, SEO services, Google My Business, Lead Generation, Best Company in Verified Quality Buyer Generation, Best Digital Marketing Company for Google My Business SEO")
        meta(name="keywords" content="Verified Quality Buyer Generation, Local SEO, GMB SEO, Best Digital Marketing Company, Lead Generation, Website Design, Website Development, Customized Website, Responsive Website, E-commerce Website, Search Engine Optimization, Social Media Marketing, Best SEO Digital Marketing Company, Best Company in Verified Quality Buyer, Best Website Designing Company")
        meta(name="robots" content="index,follow")
        link(rel="canonical" href="https://zolexomart.in")
        meta(property="og:title" content="Zolexo Mart Pvt Ltd | Website Development | Digital Marketing")
        meta(property="og:site_name" content="https://zolexomart.in")
        meta(property="og:url" content="https://zolexomart.in")
        meta(property="og:description" content="Dynamic Website, Customized Design, SEO optimized, Landing Page & Blog Page Development")
        meta(property="og:type" content="website")
        meta(property="og:image" content="")

        // Google tag (gtag.js)
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-QCW5M672FJ")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-QCW5M672FJ');

        meta(name="google-site-verification" content="nXpMVKGyc0mkMAQ27vfXEjDtvsYrHygBnP9tX-vzsew")
        link(href="/img/Logo.jpg" rel="icon")

        // Carousel CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")

        // Google Web Fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")

        // Fontawesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet")

        // Libraries Stylesheet
        link(href="/lib/animate/animate.min.css" rel="stylesheet")
        link(href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet")
        link(href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet")

        // Customized Bootstrap Stylesheet
        link(href="/css/bootstrap.min.css" rel="stylesheet")

        // Template Stylesheet
        link(href="/css/style.css" rel="stylesheet")

        // Font style
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet")

        // jQuery
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")

        // Typed.js Script
        script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous")

    body
        // Start of Tawk.to Script
        script(type="text/javascript"). 
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/66e3ba6e50c10f7a00a93578/1i7kp0gnm';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        // End of Tawk.to Script

        #customerQuery_btn_right
            a.modal-body.querypop-page-start.getfq(href="contact")
                span.pulse-button 
                    img(src="/img/icons/contact-us.png" )

        .whatsaap
            a(href="https://wa.me/9958575960")
                img(src="/img/whatsapp.png" alt="WhatsApp")

        .container-xxl.bg-white.p-0

            // Navbar & Hero Start
            .tophead
                .nolist
                    ul
                        li
                            a(href="tel:+91-9958575960")
                                i.fa.fa-phone-square(aria-hidden="true")
                                | +91-9958575960
                        li
                            a(href="mailto:info@zolexomart.in")
                                i.fa.fa-envelope(aria-hidden="true")
                                | info@zolexomart.in

                .foot-socials.headicon
                    ul
                        li
                            a(href="/" target="_blank")
                                i.fa-brands.fa-facebook
                        li
                            a(href="http://www.linkedin.com/in/zolexomart-pvt-ltd-a7b613328" target="_blank")
                                i.fa-brands.fa-linkedin
                        li
                            a(href="/" target="_blank")
                                i.fa-brands.fa-google-plus
                        li
                            a(href="/" target="_blank")
                                i.fa-brands.fa-x-twitter
                        li
                            a(href="/" target="_blank")
                                i.fa-brands.fa-instagram

                #google_translate_element
        div.container-xxl.position-relative.p-0
            include ./components/nav.pug
        .hero-header.bg.heigh
            img(src="./img/Picture4.png" alt="" width="100%")

        .container-xxl.py-5
            .container.px-lg-5
                .row.g-5
                    .col-lg-12.wow.fadeInUp(data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;")
                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 Google My Business: A Powerful Tool for All Businesses
                        p.mb-4
                        | In today’s digital world, having a strong online presence is essential for businesses of all sizes. Whether you're a small, local shop or a large, national company, your visibility online can make or break your business. One tool that has proven to be invaluable for boosting visibility and credibility is Google My Business (GMB). Many businesses wonder, "Is GMB only for local businesses?" The answer is no—Google My Business can benefit any business, large or small, with or without a physical location. We at Zolexomart have experts who can optimize you on GMB.
                        
                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 What is Google My Business?
                        p
                        | Google My Business is a free platform that allows businesses to manage how they appear across Google Search and Google Maps. With GMB, you can share important business information such as your business name, address, phone number, products or services, website link, reviews, and photos. This information often appears prominently on Google search results, making it easier for potential customers to find you. 
                        br
                        | By creating a GMB listing, businesses can also update store hours, add a menu (for restaurants), and provide directions to their business locations. Additionally, GMB allows businesses to engage directly with customers by posting updates, answering reviews, and even adding promotional offers.
                        
                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 Who is Eligible for Google My Business?
                        p
                        | One common misconception is that GMB is only for local or small businesses. In reality, any business with a physical location or one that serves customers in a specific area can create a GMB profile. This means that both small businesses and large national brands can leverage GMB to boost their online visibility. 
                        br
                        | While it’s not strictly necessary to have a physical address to create a GMB listing, businesses that do are more likely to fully optimize their profile. Google values the accuracy and consistency of your business information, so having a verifiable address can help improve your credibility.

                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 The Benefits of a Google My Business Listings
                        ol
                            li
                                | <b>Improve SEO and Increase Online Visibility:</b> One of the biggest advantages of a GMB listing is its impact on local SEO. When a business creates a GMB profile and keeps it up to date, Google is more likely to display it on the first page of search results. A GMB listing can help a business appear in the "Map Pack," which refers to the top three search results that appear with a map on Google Search. This is crucial because over 90% of search traffic stays on the first page of search results.
                            li
                                | <b>Attract More Traffic to Your Website:</b> Having an optimized GMB profile is like having an additional website. It provides a wealth of information about your business that can attract potential customers. By featuring your business in Google’s search results, customers are more likely to click through to your website, increasing organic traffic and engagement.
                            li
                                | <b>Build Trust with Customer Reviews:</b> One key feature of GMB is the ability to gather and showcase customer reviews. Positive reviews are a great way to build trust and credibility with potential customers. Businesses can also respond to reviews, showing that they are engaged and responsive, which can enhance the customer experience.
                            li
                                | <b>Enhance the Customer Experience:</b> A complete GMB profile makes it easier for customers to find and contact you. From accurate business hours to phone numbers and even directions through Google Maps, GMB simplifies the customer journey, making it easier for them to connect with your business.

                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 Why GMB is Important for SEO
                        p
                        | Google My Business plays an essential role in a broader SEO strategy. While it isn’t the only factor that affects SEO, a well-optimized GMB profile can significantly improve your rankings, especially for local searches. By including local keywords, consistent business information, and gathering reviews, businesses can appear higher in search results.

                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 How to Optimize Your Google My Business Profiles
                        p
                        | To make the most of GMB, it’s crucial to optimize your profile. Here are some quick tips:

                        ol
                            li
                                | <b>Claim and Verify Your Profile:</b> Ensure that your business is correctly listed and verified by Google.
                            li
                                | <b>Provide Accurate Information:</b> Make sure that your business name, address, and phone number (NAP) are accurate and consistent across all online platforms.
                            li
                                | <b>Add High-Quality Photos:</b> Visuals help attract attention and give potential customers a sense of your business.
                            li
                                | <b>Encourage Reviews:</b> Positive reviews can improve your ranking and build customer trust.
                            li
                                | <b>Post Regularly:</b> Use GMB to share updates, promotions, or special events.



    include ./components/footer.pug

    // Scripts for Libraries
    script(src="/lib/wow/wow.min.js")
    script(src="/lib/easing/easing.min.js")
    script(src="/lib/owlcarousel/owl.carousel.min.js")
    script(src="/lib/lightbox/js/lightbox.min.js")

    // Carousel JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")

    // Template Scripts
    script(src="/js/main.js")

    // Typed.js Initialization
    script.
        $(document).ready(function() {
            var options = {
                strings: [
                    "Search",
                    "Google My Business",
                    "Digital Marketing"
                ],
                typeSpeed: 50,
                backSpeed: 50,
                loop: true
            };
            new Typed('.text', options);
            
