doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="./css/new.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css")
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css")


    body


    script( src="https://cdn.jsdelivr.net/npm/tsparticles@1.26.0/dist/tsparticles.min.js")
    script( src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="./js/new.js")
    //- script( src="https://cdn.jsdelivr.net/npm/tsparticles@1.26.0/dist/tsparticles.min.js")