                        p #{Service.details.description1} 
                        if (Service.details.description2)
                            br
                            p #{Service.details.description2}