doctype html
html(lang="en")
    head
        meta(charset="utf-8")

        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title  Query Now | Digital Marketing Services | Zolexo Mart Pvt. Ltd. | Contact Us: 9958575960

        meta(name="Description" content="Contact Us Zolexo Mart for assistance with orders, products, or inquiries. Our team is ready to help you. Reach out today!")
        meta(name="Keywords" content="Digital Marketing Services, SEO Services, SMM Services, Web Development Services, Website Optimization Services in India.")
        meta(name="robots" content="Index, follow")
        link(rel="canonical" href="https://www.zolexomart.in/send-query")

        meta(property="og:locale" content="en_IN")
        meta(property="og:type" content="Website")
        meta(property="og:title" content="Contact US | Digital Marketing Services | Zolexo Mart Pvt. Ltd. | Contact Us: 9958575960")
        meta(property="og:description" content="Contact Us Zolexo Mart for assistance with orders, products, or inquiries. Our team is ready to help you. Reach out today!")
        meta(property="og:site_name" content="Zolexo Mart Pvt. Ltd.")
        meta(property="og:url" content="https://www.zolexomart.in/send-query")

        link(href="/img/Logo.jpg" rel="icon")

        // Carousel CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")

        // Google Web Fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")

        // Fontawesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet")

        // Libraries Stylesheet
        link(href="/lib/animate/animate.min.css" rel="stylesheet")
        link(href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet")
        link(href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet")

        // Customized Bootstrap Stylesheet
        link(href="/css/bootstrap.min.css" rel="stylesheet")

        // Template Stylesheet
        link(href="/css/style.css" rel="stylesheet")

        // Font style
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet")

        // jQuery
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")

        // Typed.js Script
        script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous")

    body
        // Start of Tawk.to Script
        script(type="text/javascript"). 
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/66e3ba6e50c10f7a00a93578/1i7kp0gnm';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        // End of Tawk.to Script

        #customerQuery_btn_right
            a.modal-body.querypop-page-start.getfq(href="contact")
                span.pulse-button 
                    img(src="/img/icons/contact-us.png" )

        .whatsaap
            a(href="https://wa.me/9958575960")
                img(src="/img/whatsapp.png" alt="WhatsApp")

        .container-xxl.bg-white.p-0




        div.container-xxl.position-relative.p-0
            include ./components/nav.pug
        .hero-header.bg
            h1.text-white.animated.zoomIn SEND US YOUR REQUIREMENTS
            img(src="./img/Screenshot 2024-10-26 180239.png" alt="" width="100%")
       
        section.get-aquote-page.my-5
            .container
                .row
                    .col-md-8
                        .resume-form 
                            form(method="post" action="/api/send-quote" id="get_guote_form")
                                .row
                                    .col-md-12
                                        h1 Request A Quote
                                        h4 Please fill below form and we'll contact you shortly. Fields marked with an asterisk (*) are required
                                .row
                                    .form-group.col-md-6
                                        label First Name
                                        span.mandetiry * 
                                        input(type="text" name="name" class="form-control" required)
                                    .form-group.col-md-6
                                        label Last Name
                                        input(type="text" name="lname" class="form-control")
                                .row
                                    .form-group.col-md-6
                                        label Enter Phone No
                                        span.mandetiry * 
                                        input(type="tel" name="phone" class="form-control" required pattern=".{9,14}")
                                    .form-group.col-md-6
                                        label Enter Your Email
                                        span.mandetiry * 
                                        input(type="email" name="email" class="form-control" required)
                                .row
                                    .form-group.col-md-6
                                        label Choose Services
                                        span.mandetiry *
                                        select(name="service" class="form-control" required)
                                            option(value="") --Select Services--
                                            option(value="Domestic SEO") Domestic SEO
                                            option(value="City Wise SEO") City Wise SEO   
                                            option(value="SMO") SMO    
                                            option(value="Digital Growth Package") Digital Growth Package  
                                            option(value="Verified Quality Buyer Generation") Verified Quality Buyer Generation
                                            option(value="Google Ads") Google Ads                                          
                                            option(value="Website Designing") Website Designing
                                            option(value="Web Development") Web Development
                                            option(value="Mobile Application Development") Mobile Application Development                 
                                            option(value="Other") Other
                                    .form-group.col-md-6
                                        label Select Package
                                        select(name="package" class="form-control" required)
                                            option(value="Basic") Basic
                                            option(value="Star") Star
                                            option(value="Silver") Silver
                                          
                           
                                .row
                                    .form-group.col-md-12
                                        label Leave your message
                                        textarea(class="form-control" cols="10" name="message")
                                .row
                                    .form-group.col-md-4
                                        
                                        input.btm(type="submit" class="btn")
                                        
                                       
                    .col-md-4.white-bg
                        .get-address-bar
                        .contact-colom.get-a-guote
                            p
                            b
                                span If you prefer other mode of instant communication, we're here:
                            .clearfix
                            h2 CORPORATE OFFICE
                            .address
                                p
                                    i.fa.fa-map-marker(aria-hidden="true")
                                    div B 14 & 15 Sector-1, Noida U.P. 201301
                            .clearfix
                            p
                                i.fa.fa-envelope(aria-hidden="true")
                                a(href="mailto:info@zolexomart.in" contenteditable="false" style="cursor: pointer;") info@zolexomart.in
                                .clearfix
                            p
                                i.fa.fa-phone(aria-hidden="true")
                                a(href="tel:+91-9958575960" onclick="ga('send', 'event', 'Phone Call Tracking', 'Click to Call', '+91-9958575960', 0);" contenteditable="false" style="cursor: pointer;") +91-9958575960
                                .clearfix
                            p
                                i.fa.fa-globe(aria-hidden="true")
                                a(href="https://www.zolexomart.in/" target="_blank" contenteditable="false" style="cursor: pointer;") www.zolexomart.in
                        






    include ./components/footer.pug

    // Scripts for Libraries
    script(src="/lib/wow/wow.min.js")
    script(src="/lib/easing/easing.min.js")
    script(src="/lib/owlcarousel/owl.carousel.min.js")
    script(src="/lib/lightbox/js/lightbox.min.js")

    // Carousel JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")

    // Template Scripts
    script(src="/js/main.js")


