doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Zolexo Mart Pvt Ltd
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Verified Quality Buyer Generation Services, Best Company in Verified Quality Buyer Generation, Dynamic Website, Customized Design, SEO services, Google My Business, Lead Generation, Best Company in Verified Quality Buyer Generation, Best Digital Marketing Company for Google My Business SEO")
        meta(name="keywords" content="Verified Quality Buyer Generation, Local SEO, GMB SEO, Best Digital Marketing Company, Lead Generation, Website Design, Website Development, Customized Website, Responsive Website, E-commerce Website, Search Engine Optimization, Social Media Marketing, Best SEO Digital Marketing Company, Best Company in Verified Quality Buyer, Best Website Designing Company")
        meta(name="robots" content="index,follow")
        link(rel="canonical" href="https://zolexomart.in")
        meta(property="og:title" content="Zolexo Mart Pvt Ltd | Website Development | Digital Marketing")
        meta(property="og:site_name" content="https://zolexomart.in")
        meta(property="og:url" content="https://zolexomart.in")
        meta(property="og:description" content="Dynamic Website, Customized Design, SEO optimized, Landing Page & Blog Page Development")
        meta(property="og:type" content="website")
        meta(property="og:image" content="")

        // Google tag (gtag.js)
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-QCW5M672FJ")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-QCW5M672FJ');

        meta(name="google-site-verification" content="nXpMVKGyc0mkMAQ27vfXEjDtvsYrHygBnP9tX-vzsew")
        link(href="/img/Logo.jpg" rel="icon")

        // Carousel CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")

        // Google Web Fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")

        // Fontawesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet")

        // Libraries Stylesheet
        link(href="/lib/animate/animate.min.css" rel="stylesheet")
        link(href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet")
        link(href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet")

        // Customized Bootstrap Stylesheet
        link(href="/css/bootstrap.min.css" rel="stylesheet")

        // Template Stylesheet
        link(href="/css/style.css" rel="stylesheet")

        // Font style
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet")

        // jQuery
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")

        // Typed.js Script
        script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous")

    body
        // Start of Tawk.to Script
        script(type="text/javascript"). 
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/66e3ba6e50c10f7a00a93578/1i7kp0gnm';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        // End of Tawk.to Script

        #customerQuery_btn_right
            a.modal-body.querypop-page-start.getfq(href="/contact")
                span.pulse-button 
                    img(src="/img/icons/contact-us.png" )

        .whatsaap
            a(href="https://wa.me/9958575960")
                img(src="/img/whatsapp.png" alt="WhatsApp")

        .container-xxl.bg-white.p-0


                
        div.container-xxl.position-relative.p-0
            include ./components/nav.pug
        .hero-header.bg
            h1.text-white.animated.zoomIn SEO
            img(src="./img/laptop-7669027_1280.jpg", alt="", width="100%")
        .container-xxl.py-5
            .container.px-lg-5
                .row.g-5
                    .col-lg-12.wow.fadeInUp(data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;")
                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 SEO: A Tool For Business Growth
                        p.mb-4 
                        | In today's world, having a presence on digital platforms is essential to achieve your organization's vision and mission. Approximately 86% of digital platform users use Google search engine to avail any service, purchase any product or research on the solution to any problem. 91% of this traffic goes to top ranking results and convert into leads. Achieving the need to be at the top of search engine rankings requires a process named SEO. Zolexomart can help you build this digital presence because we have SEO Experts in our team.
                        
                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 What is SEO?
                        p 
                        | SEO is a dynamic process to optimize the website by which the ranking of our web page in search engines is improved whenever keywords related to our business are typed in the search engine or simply it is a process to bring your content to the top of search engines. SEO is a digital war to gain advantage over your competitor and here at Zolexomart we have tailored strategies and approach which will help you to grow your reach and encourage engagement & stay two steps ahead of your competitor. Due to our unique and holistic approach, more and more quality traffic and leads will come your way which will improve your position and ultimately your business will reach a new horizon. We have a team of experts who will help you in improving and managing the search engine ranking of your web pages whenever words related to your business are typed in the search engine.
                        
                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 Search Engine and how does it work?
                        p 
                        | Search engine is a system and algorithm that crawls, indexes and ranks any web content based on users search. To provide you the most valuable information search engines consider many factors like meaning, keywords, relevance, quality, usability and context. Google is the leading search engine. Others are Bing, Yahoo etc. When we search something on Google, a three step process takes place in milliseconds:
                        ol
                            li Crawling through the web content with the help of bots or spiders.
                            li Indexing of crawled pages according to information provided by the bots like keywords and loading time.
                            li Rank

                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 WHY IT MATTERS FOR YOU?
                        p 
                        | SEO is very important for all those businesses who need digital presence to generate revenue because:
                        ol
                            li Most of online experiences begin with a search engine.
                            li Most of the users never scroll to page 2.
                            li Most of the users ignore the paid search results & focus on organic search results.
                            li Most of the smartphone users say they use Google search to find a local business.
                            li Increase the visibility of website.
                            li Increase the quality & quantity of website traffic.
                            li Increased website traffic would lead to high conversions (conversion of traffic into customers).
                            li Enhance user trust in website.


    include ./components/footer.pug

    // Scripts for Libraries
    script(src="/lib/wow/wow.min.js")
    script(src="/lib/easing/easing.min.js")
    script(src="/lib/owlcarousel/owl.carousel.min.js")
    script(src="/lib/lightbox/js/lightbox.min.js")

    // Carousel JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")

    // Template Scripts
    script(src="/js/main.js")

    
            
