doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Zolexo Mart Pvt Ltd
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Verified Quality Buyer Generation Services, Best Company in Verified Quality Buyer Generation, Dynamic Website, Customized Design, SEO services, Google My Business, Lead Generation, Best Company in Verified Quality Buyer Generation, Best Digital Marketing Company for Google My Business SEO")
        meta(name="keywords" content="Verified Quality Buyer Generation, Local SEO, GMB SEO, Best Digital Marketing Company, Lead Generation, Website Design, Website Development, Customized Website, Responsive Website, E-commerce Website, Search Engine Optimization, Social Media Marketing, Best SEO Digital Marketing Company, Best Company in Verified Quality Buyer, Best Website Designing Company")
        meta(name="robots" content="index,follow")
        link(rel="canonical" href="https://zolexomart.in")
        meta(property="og:title" content="Zolexo Mart Pvt Ltd | Website Development | Digital Marketing")
        meta(property="og:site_name" content="https://zolexomart.in")
        meta(property="og:url" content="https://zolexomart.in")
        meta(property="og:description" content="Dynamic Website, Customized Design, SEO optimized, Landing Page & Blog Page Development")
        meta(property="og:type" content="website")
        meta(property="og:image" content="")

        // Google tag (gtag.js)
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-QCW5M672FJ")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-QCW5M672FJ');

        meta(name="google-site-verification" content="nXpMVKGyc0mkMAQ27vfXEjDtvsYrHygBnP9tX-vzsew")
        link(href="/img/Logo.jpg" rel="icon")

        // Carousel CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")

        // Google Web Fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")

        // Fontawesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet")

        // Libraries Stylesheet
        link(href="lib/animate/animate.min.css" rel="stylesheet")
        link(href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet")
        link(href="lib/lightbox/css/lightbox.min.css" rel="stylesheet")

        // Customized Bootstrap Stylesheet
        link(href="css/bootstrap.min.css" rel="stylesheet")

        // Template Stylesheet
        link(href="css/style.css" rel="stylesheet")

        // Font style
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet")

        // jQuery
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")

        // Typed.js Script
        script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous")

    body
        // Start of Tawk.to Script
        script(type="text/javascript"). 
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/66e3ba6e50c10f7a00a93578/1i7kp0gnm';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        // End of Tawk.to Script

        #customerQuery_btn_right
            a.modal-body.querypop-page-start.getfq(href="/contact")
                span.pulse-button 
                    img(src="/img/icons/contact-us.png" )

        .whatsaap
            a(href="https://wa.me/9958575960")
                img(src="/img/whatsapp.png" alt="WhatsApp")

        .container-fluid.bg-white.p-0
            // Navbar & Hero Start
            

                
            div.container-fluid.position-relative.p-0
                include ./components/nav.pug

            .home-demo
            #newcarousel.owl-carousel
                .item
                    img(src="./img/slide2.jpg" alt="")

                .item
                    img(src="./img/slide3.jpg" alt="")

                .item
                    img(src="./img/slide4.jpg" alt="")

                .item
                    img(src="./img/slide1.jpg" alt="")

                .item
                    img(src="./img/slide2.jpg" alt="")


            .container-xxl.py-5
                .container.px-lg-5
                    .row.g-5
                        .col-lg-12.wow.fadeInUp(data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;")
                            .section-title.position-relative.mb-4.pb-2
                                h2.mt-2 Unlock the Power of Celebrity Endorsement
                            p.mb-4.addt
                            | In today's competitive market, a celebrity endorsement can be a game-changer for your brand.
                            | Partnering with influential figures not only enhances your brand’s visibility but also
                            | builds trust and credibility with your target audience.
                            br
                            b ZolexoMart 
                            | specialize in harnessing the power of celebrity endorsements to create impactful
                            | and memorable marketing campaigns.
            .container-xxl.py-5
                .container.px-lg-5
                    .row.g-5

                    .col-lg-12.wow.fadeInUp(data-wow-delay="0.1s" style="margin: 0px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;")
                        .section-title.position-relative.pb-2
                            h2.mt-2 Why Celebrity Endorsements Matter?

                    .deliverablesConBox.wow.fadeInUp(style="visibility: visible; animation-name: fadeInUp;")
                        .row.align-items-center
                            .col-lg-6.col-md-12.col-12
                                .feature-steps.feature-steps2
                                    .row
                                        .col-lg-3.col-md-2.col-4
                                            .pointer
                                                span Step
                                                span.stepno 01
                                        .col-lg-9.col-md-9.col-8
                                            .content
                                                p
                                                    b Enhanced Brand Visibility: 
                                                    | Celebrities bring their own fan base and media coverage, expanding your brand’s reach and exposure.

                            .col-lg-6.col-md-12.col-12
                                .feature-steps.feature-steps2
                                    .row
                                        .col-lg-3.col-md-2.col-4
                                            .pointer
                                                span Step
                                                span.stepno 02
                                        .col-lg-9.col-md-9.col-8
                                            .content
                                                p
                                                    b Increased Credibility: 
                                                    | An endorsement from a well-known personality can significantly boost your brand's credibility and influence consumer perception.

                            .col-lg-6.col-md-12.col-12
                                .feature-steps.feature-steps3
                                    .row
                                        .col-lg-3.col-md-2.col-4
                                            .pointer
                                                span Step
                                                span.stepno 03
                                        .col-lg-9.col-md-9.col-8
                                            .content
                                                p
                                                    b Broad Reach: 
                                                    | Celebrities have extensive followings across various platforms, allowing your brand to tap into new and diverse audiences.

                            .col-lg-6.col-md-12.col-12
                                .feature-steps.feature-steps4
                                    .row
                                        .col-lg-3.col-md-2.col-4
                                            .pointer
                                                span Step
                                                span.stepno 04
                                        .col-lg-9.col-md-9.col-8
                                            .content
                                                p
                                                    b Increased Trust: 
                                                    | Endorsements from well-known figures can enhance your brand’s credibility and create a positive perception among consumers.

                            .col-lg-6.col-md-12.col-12
                                .feature-steps.feature-steps4
                                    .row
                                        .col-lg-3.col-md-2.col-4
                                            .pointer
                                                span Step
                                                span.stepno 05
                                        .col-lg-9.col-md-9.col-8
                                            .content
                                                p
                                                    b Enhanced Engagement: 
                                                    | Celebrity endorsements can spark conversations and increase interaction with your brand, leading to greater consumer interest and loyalty.

            .container-xxl.py-5.newsec
                .container.px-lg-5
                    .row.g-5
                        .col-lg-12.wow.fadeInUp(data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;")
                            .section-title.position-relative.mb-4.pb-2
                                h2.mt-2 Promote Your Brand or Product through Celebrities 

                            p.mb-4.addt
                            | Promote Your Brand or Product through Celebrities Harness the star power of celebrities to elevate your brand or product and captivate your target audience. ZolexoMart specialize in creating impactful celebrity-driven marketing campaigns that drive engagement, boost visibility, and build lasting connections.








        include ./components/footer.pug

        // Scripts for Libraries
        script(src="lib/wow/wow.min.js")
        script(src="lib/easing/easing.min.js")
        script(src="lib/owlcarousel/owl.carousel.min.js")
        script(src="lib/lightbox/js/lightbox.min.js")

        // Customized Bootstrap Scripts
        script(src="js/bootstrap.bundle.min.js")

        // Carousel JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")

        // Template Scripts
        script(src="js/main.js")

        // Typed.js Initialization
        script.
            $(document).ready(function() {

                $('#newcarousel').owlCarousel({
                    loop: true,
                    margin: 0,
                    nav: false ,
                    dots: true,
                    autoplay: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 1
                        },
                        1000: {
                            items: 1
                        }
                    }
                });


            });

